.page-breadcrumb {
    padding: 20px 30px 0;
    .page-title {
        margin-bottom: 5px;
        color: $blue-700;
    }
    .breadcrumb {
        margin: 0;
        font-weight: $font-weight-normal;
        .breadcrumb-item+.breadcrumb-item::before {
            content: "\e649";
            font-family: themify;
            color: $gray-800;
            font-size: 11px;
            padding: 0;
        }
        .breadcrumb-item > a {
            color: $gray-700;
        }
    }
    .breadcrumb-item+.breadcrumb-item {
        display: flex;
        align-items: center;
    }
    .form-select {
        background-color: $sidebar-background-color;
        border: none;
        padding-right: 83px;
    }
}


    
  