$topbar-navlink-font-size: 21px;
$topbar-navlink-padding: 16px;
$topbar-navbrand-padding: 10px;
$topbar-navlink-height: 70px;

$navbar-collapse-padding : 0 32px 0 16px;

$down-arrow-color: #c5cad2;
$sidebar-arrow-color: #b4bdc6;
$sidebar-link-font-size: 20px;

$notify-point-color: #fc4b6c;

// sidebar-width

$sidebar-width-full: 265px;
$sidebar-width-mini: 60px;
$sidebar-background-color: #f2f7f8;


