.notify {
  position: relative;
  .point {
    top: -48px;
    right: -2px;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $notify-point-color;
  }
}

